@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

$mobile-horizontal-page-padding: 24px;
$tablet-horizontal-page-padding: 40px;
$desktop-horizontal-page-padding: 165px;

$header-height: 90px;
$header-desktop-height: 96px;

// Shades of gray
$color-black: #000000;
$color-charcoal: #101010;
$color-hero-background: #191919;
$color-light-gray: #f1f1f1;
$color-off-white: #fafafa;
$color-white: #ffffff;

// Accent colors
$color-accent: #d87d4a;
$color-accent-light: #fbaf85;

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  cursor: pointer;

  // Typography
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

@mixin ring-sizes($diameter-list) {
  $i: 1;
  @each $diameter in $diameter-list {
    &:nth-child(#{$i}) {
      width: $diameter;
      height: $diameter;
    }
    $i: $i + 1;
  }
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// START TYPOGRAPHY STYLES ****************************************************
@mixin heading($font-size, $letter-spacing, $line-height: normal) {
  font-weight: 700;
  text-transform: uppercase;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin h1 {
  @include heading(56px, 2px, 58px);
}

@mixin h2 {
  @include heading(40px, 1.429px, 44px);
}

@mixin h3 {
  @include heading(32px, 1.143px, 36px);
}

@mixin h4 {
  @include heading(28px, 2px);
}

@mixin h5 {
  @include heading(24px, 1.714px);
}

@mixin h6 {
  @include heading(18px, 1.286px);
}

@mixin overline {
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@mixin subtitle {
  color: $color-accent;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
}

@mixin body {
  font-size: 15px;
  line-height: 25px;
}
// END TYPOGRAPHY STYLES ******************************************************
