@use "index" as *;

::selection {
  background-color: $color-accent;
  color: $color-white;
}

body {
  font-family: "Manrope", sans-serif;
  min-width: 280px;
}

.g-button-accent {
  @include button;
  background-color: $color-accent;
  color: $color-white;

  &:hover, &:focus-visible {
    background-color: $color-accent-light;
  }
}

.g-button-normal {
  @include button;
  border: 1px solid $color-black;
  background-color: $color-white;
  color: $color-black;

  &:hover, &:focus-visible {
    border: none;
    background-color: $color-black;
    color: $color-white;
  }

  &:focus-visible {
    outline: 2px solid $color-white;
    outline-offset: -4px;
  }
}

.g-back-nav {
  @include body;
  opacity: 0.5;
  text-decoration: none;

  &:hover, &:focus-visible {
    opacity: 1;
    color: $color-accent;
  }
}
